
gls/config.yaml
.vscode/settings.json
*.pyc
deploy*.bat
gls/config-prod*.yaml
gls/config-docker*.yaml
gls/config-stage.yaml
log.txt

.vscode/launch.json

docker-compose.yml

js-test
py-test
*.txt
!list_send.txt
!unsubs.txt 
*.log
emaillib/config-test.yaml
