
gls/config.yaml
.vscode/settings.json
*.pyc
deploy*.bat
*/config-*.yaml
*/config-*.yaml
log.txt

.idea

docker-compose*.yml

js-test
py-test
*.txt
!list_send.txt
!unsubs.txt 
*.log
emaillib/config-test.yaml
