<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
</head>
<body>
    <p>Sehr geehrte Damen und Herren &lt;{{email}}&gt;, </p>
    <p>Sie haben das Abo ausgewählt, das Sie kündigen möchten. Sie sind darüber informiert und Sie werden die Werbungen nicht mehr erhalten. Vielen Dank für Ihre Aufmerksamkeit.</p>
    <p>Mit freundlichen Grüßen und einen schönen Tag</p>
    <p>HansaGT Team</p>
</body>
</html>

